{% extends "base.html" %}
{% block title %}Письмо отправлено{% endblock %}
{% block content %}
<div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
        <div class="card-header">Письмо отправлено</div>
        <div class="card-body">
            <p>Мы отправили вам инструкцию по восстановлению пароля на email.</p>
            <p>Если вы не получили письмо, убедитесь, что ввели правильный адрес.</p>
            <a href="{% url 'login' %}" class="btn btn-primary">Вернуться ко входу</a>
        </div>
    </div>
</div>
{% endblock %}