{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}
  Удаление публикации
{% endblock %}
{% block content %}
<div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
        <div class="card-header">
            Удаление публикации
        </div>
        <div class="card-body">
            <p class="text-danger">Вы уверены, что хотите удалить эту публикацию?</p>
            <article>
                {% if post.image %}
                <a href="{{ post.image.url }}" target="_blank">
                    <img class="border-3 rounded img-fluid img-thumbnail mb-2" src="{{ post.image.url }}">
                </a>
                {% endif %}
                <p>{{ post.pub_date|date:"d E Y" }} | {% if post.location and post.location.is_published %}{{ post.location.name }}{% else %}Планета Земля{% endif %}</p>
                <h3>{{ post.title }}</h3>
                <p>{{ post.text|linebreaksbr }}</p>
            </article>
            <form method="post">
                {% csrf_token %}
                {% bootstrap_button button_type="submit" content="Удалить" button_class="btn-danger" %}
                <a href="{% url 'blog:post_detail' post.id %}" class="btn btn-secondary">Отмена</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}